.app {
  font-family: sans-serif;
  text-align: center;
}

.list {
  list-style: none;

  width: 60%;
  margin: auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}
.button {
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
